
<p id="notice"><%= notice %></p>


<div class="wrapper">

  <div class="left-section">
  <%= render "trends" %>
  </div>

  <div class="center-section">
  <%= render "feed" %>
  </div>

  <div class="right-section">
  <%= render "whoToFollow" %>
  </div>
  
</div>

