// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.wrapper{
    display: flex;
    justify-content: space-between;
}
